﻿@using ToDoListik.Controller
@using ToDoListik.Model

@inject ToDoService toDoService
@inject ToDoItemsService toDoItemsService

@if (SelectedToDoList?.ToDoItems != null)
{
    @if (SelectedToDoList?.ToDoItems.Count > 0)
    {
        <input @bind="searchToDos" class="form-control my-3" placeholder="Введите фразу для поиска задач" />

            <div class="list-group">
                @foreach (var todo in SelectedToDoList.ToDoItems.Where(x => x.Name.Contains(searchToDos)))
                {
                    ToDoItem tempToDo = todo;

                    <div class="list-group-item @(tempToDo.Done ? "list-group-item-warning" : string.Empty)">
                        <input type="checkbox" @onchange="async (args) => { await CheckToDoItem(tempToDo, Convert.ToBoolean(args.Value)); }" 
                            checked=@tempToDo.Done class="form-check-input" >
                        <span class="@(tempToDo.Done ? "text-striked" : string.Empty)">@tempToDo.Name</span>
                    </div>
                }
            </div>

    }
    else
    {
        <p>Список пока пустой, добавьте задачу в список, чтобы не забыть о ней...</p>
    }

    <EditForm Model="createdToDoItem" OnValidSubmit="async () => await AddNewToDoItem()">
        <InputText @bind-Value="createdToDoItem.Name" class="form-control my-3" placeholder="Введите новую задачу и нажмите Enter" />
    </EditForm>
}
else
{
    <p>Выберите список для отоброажения его содержимого или создайте новый</p>
}

@code {

    //Обработчик изменений в базе
    [Parameter]
    public EventCallback UpdateMainToDoData { get; set; }

    //Свойство для выбора списка дел и отображения его содержимого
    [Parameter]
    public ToDoList? SelectedToDoList { get; set; }

    //Поле для создания новой задачи в списке
    ToDoItem createdToDoItem = new ToDoItem();

    //Поле для поиска заметок
    string searchToDos = string.Empty;

    private async Task AddNewToDoItem()
    {
        if (SelectedToDoList != null && !string.IsNullOrEmpty(createdToDoItem.Name))
        {
            await toDoService.CreateToDoItemInList(SelectedToDoList, createdToDoItem); //Добавляем в БД

            createdToDoItem = new ToDoItem(); //Очищаем поле новой задачи для добавления следующей

            await UpdateMainToDoData.InvokeAsync(); //Обновляем данные
        }
    }

    private async Task CheckToDoItem(ToDoItem toDoItem, bool done)
    {
        if (SelectedToDoList != null)
        {
            toDoItem.Done = done; //Устанавливаем переданое состояние задачи

            await toDoItemsService.UpdateToDoItem(toDoItem); //Вносим изменения в БД

            await UpdateMainToDoData.InvokeAsync(); //Обновляем данные
        }
    }


    protected override void OnInitialized()
    {
        toDoService = new ToDoService(new ToDoBaseContext());
        toDoItemsService = new ToDoItemsService(new ToDoBaseContext());
    }

}
