﻿@using ToDoListik.Controller
@using ToDoListik.Model

@inject ToDoService toDoService

<ul class="list-group">
    @foreach (var list in ToDoLists)
    {
        ToDoList viewToDo = list; //Так надо по документации

        <li class="list-group-item d-flex align-items-center
                                @(viewToDo.Id == (selectedToDoList?.Id ?? 0) ? "list-group-item-success" : string.Empty)">
            @*Повесил обработчик выбора на span - чтобы не конфликовал с обработчиком удаления*@
            <span class="me-auto" @onclick="() => { selectedToDoList = viewToDo; SelectingToDoList.InvokeAsync(viewToDo); }">@viewToDo.Name</span>
            <span class="badge bg-primary rounded-pill mx-3">@viewToDo.ToDoItems.Count(x => x.Done)/@viewToDo.ToDoItems.Count</span>
            <span class="oi oi-x oi-align-center" @onclick="async () => await DeleteToDoList(viewToDo)"></span>
        </li>
    }
</ul>

<div class="form-row text-center">
    <div class="col-12">
        <EditForm Model="createdToDoList" OnValidSubmit="AddNewToDoList">
            <InputText @bind-Value="createdToDoList.Name" class="form-control my-3" placeholder="Введите название списка"></InputText>

            <button type="submit" class="btn btn-primary">Создать новый список дел</button>
        </EditForm>
    </div>
</div>

@code {

    //Свойство для отображения всех списков дел
    [Parameter]
    public List<ToDoList>? ToDoLists { get; set; }

    //Обработчик события который передает родителю выбраный мышкой список дел
    [Parameter]
    public EventCallback<ToDoList> SelectingToDoList { get; set; }


    //Обработчик, который мы вызываем если изменили данные, для корректной передачи параметров в компоненты
    [Parameter]
    public EventCallback UpdateMainToDoData { get; set; }


    //Свойство для выбора списка дел и отображения его содержимого
    public ToDoList? selectedToDoList { get; set; }

    //Поле для создания нового списка дел
    ToDoList createdToDoList = new ToDoList();


    private async Task AddNewToDoList()
    {
        if (!string.IsNullOrEmpty(createdToDoList.Name))
        {
            await toDoService.CreateToDoList(createdToDoList);

            createdToDoList = new ToDoList(); //Очищаем поле для нового списка
            await UpdateMainToDoData.InvokeAsync(); //Обновляем отображаемый список в соответствии с базой
        }
    }

    private async Task DeleteToDoList(ToDoList deletingToDoList)
    {
        await toDoService.DeleteToDoList(deletingToDoList);

        await UpdateMainToDoData.InvokeAsync(); //Обновляем отображаемый список в соответствии с базой
    }

    protected override void OnInitialized()
    {
        toDoService = new ToDoService(new ToDoBaseContext());
    }

}
