﻿@inherits LayoutComponentBase

<PageTitle>ToDoListik</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="project-name">
                <b>ToDoListik</b>
            </div>
            <div class="credentials">
                <p>Developed by YureZ</p>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
