﻿@page "/"

@using ToDoListik.Model;
@using ToDoListik.Controller;

@inject ToDoService toDoService

<PageTitle>ToDoListik</PageTitle>

@if (ToDoLists != null)
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3 align-content-center">

                @if (ToDoLists.Count <= 0)
                {
                    <p>Добро пожаловать в список дел, начните с добавления нового списка</p>
                }

                <ListView ToDoLists="ToDoLists" SelectingToDoList="(selToDo) => SelectedToDoList = selToDo" UpdateMainToDoData="UpdateToDoData" />

            </div>
            <div class="col-6">

                <ItemsView SelectedToDoList="SelectedToDoList" UpdateMainToDoData="UpdateToDoData" />

            </div>
        </div>
    </div>
}
else
{
    <p>Ждемс подгрузки данных...</p>
}

@code {

    //Поле для отображения всех списков дел
    public List<ToDoList>? ToDoLists { get; set; }


    //Поле для выбора списка дел и отображения его содержимого
    public ToDoList? SelectedToDoList { get; set; }

    //Таска которую дергают события компонентов для обновления корневого списка
    private async Task UpdateToDoData()
    {
        ToDoLists = await toDoService.GetAllToDoLists();
    }

    protected override async Task OnInitializedAsync()
    {
        toDoService = new ToDoService(new ToDoBaseContext());

        ToDoLists = await toDoService.GetAllToDoLists();
    }

}
